body {
    background-color: #38023B;
}

#wrapper {
    border-color: red;
    border-style: dashed;
    height: 97vh;
    display: grid;
    grid-template-columns: 80vw 15vw;
    grid-template-rows: 20vh 60vh 20vh;
    column-gap: 3vw;
    grid-template-areas: 
    ". ."
    "cards controls"
    ". ."
}
#tableau {
    border-color: yellow;
    border-style: dashed;
    padding: 1vw;
    background-color: #A288E3;
    display: grid;
    grid-template-columns: repeat(5, 20fr);
    grid-template-rows: 50fr 50fr;
    gap: 1vw;
    grid-area: cards;
}

#controls {
    border-color: green;
    border-style: dashed;
    display: grid;
    grid-template-rows: 50fr 50fr;
    grid-template-columns: 50fr 50fr;
    gap: 1vw;
    grid-area: controls;
}

#controls button {
    background-color: #CCFFCB   ;
}
.card {
    background-color: #BBD5ED;
}