body {
    background-color: #817E9F;
}

#wrapper {
    position: relative;
    top: 33vmin;
    margin: 0;
    background-color: #7FC29B;
    display: grid;
    grid-template-columns: 50fr 20fr 30fr;
    grid-template-rows: 100fr;
    column-gap: 5vw;
    padding: 1vmax;
}

#cards {
    display: grid;
    grid-template-columns: repeat(5, 20fr);
    grid-template-rows: repeat(2, 50fr);
    gap: 1vw;
    grid-row: 2;
}

#extras {
    display: grid;
    grid-template-columns: 20fr;
    grid-template-rows: repeat(2, 50fr);
    gap: 1vw;
    grid-row: 2;
}

#controls {
    display: grid;
    grid-template-columns: repeat(2, 50fr);
    grid-template-rows: repeat(2, 50fr);
    gap: 1vw;
    grid-row: 2;
}

.card, .extra {
    background-color: #F0F7EE;
    display: grid;
    justify-content: center;
    align-items: center;
}

#expansions {
    visibility: hidden;
    min-width: 200px;
    max-width: 25vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: auto;
    position: absolute;
    background-color: red;
    display: flex;
    flex-direction: column;
}